nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
nav li {
    float: left;
  }
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
nav li a:hover {
    background-color: #111;
  }

video {
    
    padding: 0 10%;
    width: 80%;
    height: auto;
}
#ueberschrift{
    text-align: center;
}
#Picture_Home{
    padding: 0 10%;
    width: 80%;
    height: auto;
}
